# python/IDE artifacts
.idea/
.ipynb_checkpoints/
.DS_Store
__pycache__/
coverage/
dist/

# notebook artifacts
Training_history.csv
events.out.tfevents.*
output.out

# mlflow artifacts
mlruns/
mlartifacts/